.rule-line {
  line-height: 25px;
}

.rule-container {
  padding: 10px;
  background-color: #eeeeee;
  margin: 10px;
  border-radius: 25px;
  width: 90vw;
}

.bottom-right {
  position: absolute;
  right: 10px;
  bottom: 10px;
}